---
import Section from "../../ui/Section.astro";
import ResourceCard from "../ResourceCard.astro";
import { getRelatedResources } from "../../../data/recursos.data";
import type { Resource } from "../../../types/recursos.type";
import Button from "../../ui/Button.astro";

interface Props {
  resource: Resource;
}
const { resource } = Astro.props;
const relatedArticles = getRelatedResources(resource);
---
{relatedArticles.length > 0 && (
  <Section class="bg-white border-t border-gray-100 py-16 md:py-20">
    <div class="text-center mb-12">
      <h2 class="font-bold text-gray-900 tracking-tight">Artículos relacionados</h2>
    </div>
    
    <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-8">
      {relatedArticles.slice(0, 3).map((article) => (
        <ResourceCard resource={article} />
      ))}
    </div>

    <div class="mt-14 flex justify-center">
      <Button href="/recursos" variant="secondary" icon="fluent:arrow-right-16-filled">
        Ver todos los artículos
      </Button>
    </div>
  </Section>
)}
