---
import type { Course } from "../../../types/course.type";
import { Icon } from "astro-icon/components";
import CourseModules from "./CourseModules.astro";
import CourseInstructor from "./CourseInstructor.astro";

interface Props {
  course: Course;
}

const { course } = Astro.props;
---

<div class="flex flex-col">
  <!-- Sobre este curso -->
  {course.about && (
    <section class="mb-14">
      <h2 class="font-bold text-gray-900 text-3xl tracking-tight mb-6">
        Sobre este curso
      </h2>
      <p class="text-gray-600 leading-relaxed">
        {course.about}
      </p>
    </section>
  )}

  <!-- Lo que vas a aprender -->
  {course.learnings && course.learnings.length > 0 && (
    <section class="mb-14">
      <h2 class="font-bold text-gray-900 text-3xl tracking-tight mb-6">
        Lo que vas a aprender
      </h2>
      <ul class="grid sm:grid-cols-2 gap-4">
        {course.learnings.map(learning => (
          <li class="flex items-start gap-3 text-gray-600">
            <Icon 
              name="lucide:circle-check-big" 
              class="text-primary text-xl shrink-0 mt-0.5" 
            />
            {learning}
          </li>
        ))}
      </ul>
    </section>
  )}

  <!-- Contenido del curso -->
  <CourseModules modules={course.modules} />

  <!-- Profesor -->
  <CourseInstructor instructor={course.instructor} />

</div>
